<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Serratec | Contato</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 logo">
      <img class="logo-serratec" src="http://serratec.org/residencia-de-software/assets/images/logo-neq-serratec-bra-152x56.png" alt="Logo Serratec">
      </div>
      </div>
  </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./views/contato.html">Contato </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sobre.html">Sobre</a>
            </li>
          </ul>
          </div>
          </nav>
      <div class="container">
        <div class="row"> 
        <div class="col-sm-12">
          <h2>Titulo</h2>
          <p>Essa é a página de contato com a Serratec, envie seus dados para que possamos lhe responder o mais rápido possível e da forma mais correta, esperamos que possamos ajudar! </p>
          <p>Esta iniciativa trará impactos positivos em direção à capacitação e profissionalização, atraindo empresas e incentivando novos negócios.</p>

        </div> 
      </div>
        <div class="row">
          <div class="col-sm-6">
            <form action="#" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" class="form-control" autocomplete="off" placeholder="exemplo@exemplo.com" id="email">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="pwd">WhatsApp</label>
                <input type="tel" class="form-control required" pattern="[0-9]{5}-[0-9]{4}" autocomplete="off" placeholder="99999-9999" id="pwd">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="switch">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="switch1">
                  <label class="custom-control-label" for="switch1">Desejo receber atualizações sobre a Serratec</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form> 
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="assunto">Assunto</label>
          <input type="text" class="form-control" autocomplete="off" placeholder="exemplo@exemplo.com" id="assunto">
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea style="resize: none" class="form-control" rows="5" id="comment"></textarea>
        </div> 
      </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="./index.js"></script>
</body>
</html>